.NavBar {
    background-color: #F9F9FB;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .TopBar {
    height: 4px;
    background-color: #2986FE;
    width: 100%;
  }
  
  .LinkList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .LinkItem {
    margin-right: 20px;
  }
  
  .Link {
    font-size: 16px;
    font-family: 'DM Sans';
    color: #101010;
    text-decoration: none;
  }
  
  .SignUpButton {
    background-color: #2986FE;
    color: #FFFFFF;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    font-family: 'DM Sans';
    cursor: pointer;
  }
  
  .LoggedInContainer {
    display: flex;
    align-items: center;
  }
  
  .BellButton {
    background-color: #FFFFFF;
    color: #101010;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    font-family: 'DM Sans';
    cursor: pointer;
  }
  
  .UserIconContainer {
    display: flex;
    align-items: center;
    margin-left: 16px;
  }
  
  .UserIcon {
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .DropDownMenu {
    position: relative;
  }
  
  .DropDownButton {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 16px;
    font-family: 'DM Sans';
    cursor: pointer;
  }
  
  .DropDownList {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #FFFFFF;
    border: 1px solid #101010;
    padding: 8px;
    display: none;
  }
  
  .DropDownLink {
    text-decoration: none;
    color: #101010;
  }